cloud/node-red-flows.json
[{"id":"d1b5b3b1.5e0f68","type":"mqtt in","z":"2a5a7b5b.dcafd","name":"","topic":"abdali/radar/data","qos":"0","datatype":"auto","broker":"e2c2d9b4.0b1d1","x":150,"y":180,"wires":[["b4d8c3b3.7d0a3"]]},{"id":"b4d8c3b3.7d0a3","type":"json","z":"2a5a7b5b.dcafd","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":320,"y":180,"wires":[["d5c8a1c2.2c0d38","f0e8d3e8.3b1d9"]]},{"id":"d5c8a1c2.2c0d38","type":"debug","z":"2a5a7b5b.dcafd","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"f0e8d3e8.3b1d9","type":"function","z":"2a5a7b5b.dcafd","name":"Prepare for DB","func":"msg.payload = {\n    measurement: 'radar',\n    fields: {\n        distance: parseFloat(msg.payload.distance),\n        angle: parseInt(msg.payload.angle)\n    },\n    tags: {\n        device: msg.payload.device\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":220,"wires":[["a9b3c5d8.0c7d28"]]},{"id":"a9b3c5d8.0c7d28","type":"influxdb out","z":"2a5a7b5b.dcafd","influxdb":"c4a8b7e8.9d6f3","name":"","measurement":"","precision":"","retentionPolicy":"","database":"radar_db","precisionV18Flux":"ms","org":"iot-org","bucket":"radar-bucket","x":690,"y":220,"wires":[]},{"id":"e2c2d9b4.0b1d1","type":"mqtt-broker","z":"","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4a8b7e8.9d6f3","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"radar_db","name":"InfluxDB","usetls":false,"influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]